name: Continuous Integration

on:
  push:
    branches: [ main ]
    tags: ['*']
    paths-ignore: ['**.md']
  pull_request:
    branches: [ main ]
    paths-ignore: ['**.md']
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    defaults:
      run:
        shell: ${{ matrix.config.shell }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Linux GCC
            os: ubuntu-latest
            shell: bash
            package_name: Linux-x86_64
            artifact_path: build/*.zip
            install: |
              sudo apt-get update
              sudo apt-get install -y ninja-build
            configure: |
              -G Ninja

          - name: MacOS Clang
            os: macos-latest
            shell: bash
            package_name: MacOS_Universal
            artifact_path: build/*.zip
            install: |
              brew update
              brew install ninja
            configure: |
              -G Ninja \
              -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"

          - name: Windows MinGW
            os: windows-latest
            shell: 'msys2 {0}'
            msystem: mingw64
            msys-env: mingw-w64-x86_64
            package_name: Windows_x86_64
            artifact_path: build/*.zip
            install: |
              pacman -Syu --noconfirm
              pacman -S --noconfirm \
                mingw-w64-x86_64-gcc \
                mingw-w64-x86_64-cmake \
                mingw-w64-x86_64-ninja
            configure: |
              -G Ninja \
              -DCMAKE_EXE_LINKER_FLAGS="-static -static-libgcc -static-libstdc++ -Wl,--gc-sections"

    steps:
      - name: Setup MSYS2
        if: matrix.config.shell == 'msys2 {0}'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.config.msystem }}
          update: true

      - uses: actions/checkout@v4

      - name: Install dependencies
        run: ${{ matrix.config.install }}

      - name: Configure
        run: >-
          cmake
          -S .
          -B build
          -DCMAKE_BUILD_TYPE=Release
          ${{ matrix.config.configure }}

      - name: Build
        run: cmake --build build

      - name: Install
        run: |
          cd build
          cpack

      - name: Extract Version Number (Release)
        if: contains(github.ref, 'tags')
        shell: bash
        run: echo "VERSION=${GITHUB_REF##*_}" >> $GITHUB_ENV

      - name: Extract Version Number (Development)
        if: "!contains(github.ref, 'tags')"
        shell: bash
        run: echo "VERSION=DEV_${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "ELFBSP ${{ env.VERSION }} ${{ matrix.config.package_name }}"
          path: ${{ matrix.config.artifact_path }}

      - name: Release
        if: ${{ contains(github.ref, 'tags') }}
        uses: ncipollo/release-action@v1
        with:
          name: ELFBSP ${{ env.VERSION }}
          bodyFile: CHANGELOG.md
          allowUpdates: true
          artifacts: ${{ matrix.config.artifact_path }}
